{{- define "article-table" -}}
<table class="w-full table-fixed">
  <thead class="bg-gray-700">
    <tr>
      <th
        class="w-[80%] py-3 px-4 text-left font-semibold"
      >
        Title
      </th>
      <th
        class="w-[20%] py-3 px-4 text-left font-semibold"
      >
        Date
      </th>
    </tr>
  </thead>
  <tbody>
    {{- range . -}}
    <tr class="border-b border-gray-100">
      <td class="py-2 px-4">
        <a
          href="{{ .RelPermalink }}"
          class="hover:text-blue-600"
          >{{ .Title }}</a
        >
      </td>
      <td class="py-2 px-4 text-nowrap">
        {{ .Date.Format "2006-01-02" }}
      </td>
    </tr>
    {{- end -}}
  </tbody>
</table>
{{- end -}}

<div class="mt-8 mb-8">
  {{- $pages := .Page.Pages -}} {{/* Get and sort
  unique tags */}} {{- $tags := slice -}} {{- range
  $pages -}} {{- $tags = union $tags .Params.tags -}}
  {{- end -}} {{- $tags = sort $tags -}} {{/* Display
  tagged articles */}} {{- range $tag := $tags -}} {{-
  with where $pages "Params.tags" "intersect" (slice
  $tag) -}}
  <h3 class="mt-12 mb-4 text-xl font-bold">
    {{ title $tag }}
  </h3>
  {{- template "article-table" (.ByDate.Reverse) -}}
  {{- end -}} {{- end -}} {{/* Display untagged
  articles */}} {{- with where $pages "Params.tags"
  "eq" nil -}}
  <h3 class="mt-12 mb-4 text-xl font-bold">
    Untagged
  </h3>
  {{- template "article-table" (.ByDate.Reverse) -}}
  {{- end -}}
</div>
